name: clean-actions
on:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  clean-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: yanovation/delete-old-actions@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          days-ago: 1
